{{ "navigation-lines.scss" | asset_url | stylesheet_tag }}

<div id="navigation_lines">
	<div id="first" class="nav-line white active">
		<div class="desc-text"><span class="num">01</span><span
					class="text">Home</span></div>
		<div class="line"><a href="#hero" class="nav-link-bar"></a></div>
	</div>
	<div id="second" class="nav-line white">
		<div class="desc-text"><span class="num">02</span><span
					class="text">Mission</span></div>
		<div class="line"><a href="#mission" class="nav-link-bar"></a></div>
	</div>
	<div id="third" class="nav-line white">
		<div class="desc-text"><span class="num">03</span><span class="text">Services</span>
		</div>
		<div class="line"><a href="#services" class="nav-link-bar"></a></div>
	</div>
	<div id="fourth" class="nav-line white">
		<div class="desc-text"><span class="num">04</span><span
					class="text">Team</span></div>
		<div class="line"><a href="#team" class="nav-link-bar"></a></div>
	</div>
	<div id="fifth" class="nav-line white">
		<div class="desc-text"><span class="num">05</span><span
					class="text">News</span></div>
		<div class="line"><a href="#news" class="nav-link-bar" ></a></div>
	</div>
	<div id="sixth" class="nav-line white">
		<div class="desc-text"><span class="num">06</span><span class="text">Contact</span>
		</div>
		<div class="line"><a href="#footer" class="nav-link-bar"></a></div>
	</div>
</div>