.contacts{
  background-color: #000;
  color: #ffffff;
  font-weight: 700;

  .section-title{
    color: #ffffff;
  }

  .contact-us{
    display: flex;
    justify-content: space-between;
    .email-block{
      font-size: 40px;
      .email-heading{
        margin: 0;
      }

      .email{
        margin: 0;
        color: #F9D023;
        text-decoration: underline;
      }
    }

    .contact-form{
      display: flex;
      flex-direction: column;

      .form-heading{
        font-size: 40px;
        max-width: 442px;
        width: 300px;
        margin: 0 0 40px;
        line-height: 48px;
      }

      .button{
        width: 272px;
        height: 48px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .6px;
        align-self: end;
      }
    }
  }

}