.contacts{
  background-color: #000;
  color: #ffffff;
  font-weight: 700;

  .section-title{
    color: #ffffff;
  }

  .contact-us{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 568px) {
      flex-direction: column;
    }

    .email-block{
      font-size: 40px;
      @media screen and (max-width: 568px) {
        font-size: 22px;
        margin-bottom: 56px;
      }
      .email-heading{
        margin: 0;
      }

      .email{
        margin: 0;
        color: #F9D023;
        text-decoration: underline;
      }
    }

    .contact-form{
      display: flex;
      flex-direction: column;
      max-width: 445px;
      width: 100%;

      .form-heading{
        font-size: 40px;
        width: 290px;
        margin: 0 0 40px;
        line-height: 48px;
        @media screen and (max-width: 568px) {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 32px;
        }
      }

      .button{
        width: 272px;
        height: 48px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .6px;
        align-self: end;
        @media screen and (max-width: 568px) {
          width: 196px;
        }
      }
    }
  }

}