.services-main-text {
  font-size: 18px;
  line-height: 26px;
  max-width: 920px;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: 768px){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
  }
}

.services-support-text {
  max-width: 825px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;

  @media screen and (max-width: 768px){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
  }
}

.services-items {
  margin: 56px 0;
  display: flex;

  @media screen and (max-width: 991px){
    flex-direction: column;
  }
  .item{
    margin-right: 30px;
    max-width: 310px;
    @media screen and (max-width: 768px){
      margin-top: 40px;

      &:first-of-type{
        margin-top: 0;
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      margin-right: 0;
    }
    .title{
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      width: 350px;
      @media screen and (max-width: 768px){
        margin: 0 0 16px;
        font-size: 22px;
        line-height: 28px;
      }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 310px;
      }
    }

    .list{
      list-style: square;
      margin:0 0 0 -22px;

      .item-list{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;

        @media screen and (max-width: 768px){
          font-size: 14px;
          line-height: 24px;
        }

        &::marker{
          font-size: 14px;
          color: #ffffff;
        }

        &:last-child{
          margin-bottom: 32px;
          @media screen and (max-width: 768px){
            margin-bottom: 24px;
          }
        }
      }
    }


    &:last-child{
      margin-right: 0;
    }
  }
}