.yellow{
  background-color: #F9D023;
}

.white{
  background-color: #ffffff;
}

section{
  padding: 96px 265px;
}

.bar{
  width: 100px;
  height: 6px;
  margin: 48px 0 56px;
}

.section-title{
  font-size: 90px;
  font-weight: 400;
  line-height: 100px;
  margin: 0;
}