.team-cards{
  display: flex;

  .card{
    width: 540px;
    height: 892px;
    box-shadow: 0px 0px 40px 0px rgba(0, 13, 129, 0.08);
    border-radius: 0 0 0 64px;
    margin-right: 30px;
    position: relative;
    padding: 0 64px 56px;

    .photo{
      position: absolute;
      left: calc(100% - 228px);
    }

    .meet{
      display: flex;
      align-items: center;
      margin-top: 32px;

      .text{
        color: #F9D023;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin: 0 24px 0 0;
      }
    }

    .name{
      width: 190px;
      margin: 48px 0 16px;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
    }

    .post{
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    .story{
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    .list-title{
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;
    }

    .education{
      position: absolute;
      bottom: 64px;
    }

    .socials{
      position: absolute;
      height: 32px;
      bottom: 40px;
      right: 40px;
    }

    .list{
      list-style: square;
      margin:0 0 0 -22px;

      .item-list{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;

        &::marker{
          font-size: 14px;
          color: #F9D023;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    &:last-child{
      margin-right: 0;
    }
  }

}
.services-support-text {
  width: 825px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.services-items {
  margin: 56px 0;
  display: flex;

  .item{
    margin-right: 30px;

    .title{
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      width: 350px;
    }

    .list{
      list-style: square;
      margin:0 0 0 -22px;

      .item-list{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;

        &::marker{
          font-size: 14px;
          color: #ffffff;
        }

        &:last-child{
          margin-bottom: 32px;
        }
      }
    }


    &:last-child{
      margin-right: 0;
    }
  }
}