.team-cards{
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .card{
    height: 892px;
    box-shadow: 0px 0px 40px 0px rgba(0, 13, 129, 0.08);
    border-radius: 0 0 0 64px;
    position: relative;
    padding: 0 64px 56px;
    max-width: 540px;

    @media screen and (max-width: 500px) {
      padding: 0 24px 80px;
      //height: auto;
    }

    .photo{
      position: absolute;
      left: calc(100% - 228px);

      @media screen and (max-width: 500px) {
        width: 136px;
        height: 136px;
        left: calc(100% - 136px);
      }
    }

    .meet{
      display: flex;
      align-items: center;
      margin-top: 32px;
      @media screen and (max-width: 500px) {
        margin-top: 16px;
      }

      .text{
        color: #F9D023;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin: 0 24px 0 0;

        @media screen and (max-width: 500px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .name{
      width: 190px;
      margin: 48px 0 16px;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;

      @media screen and (max-width: 500px) {
        font-size: 22px;
        line-height: 28px;
        margin: 24px 0 8px;
      }
    }

    .post{
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin-bottom: 40px;

      @media screen and (max-width: 500px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 32px;
        width: 116px;
      }
    }

    .story{
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 40px;

      @media screen and (max-width: 500px) {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 32px;
      }
    }

    .list-title{
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;

      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 24px;
        margin-top: 0;
      }
    }

    .education{
      position: absolute;
      bottom: 64px;
      @media screen and (max-width: 500px) {
        bottom: 80px;
      }
    }

    .socials{
      position: absolute;
      height: 32px;
      bottom: 40px;
      right: 40px;
      @media screen and (max-width: 500px) {
        bottom: 24px;
        right: 24px;
      }
    }

    .list{
      list-style: square;
      margin:0 0 0 -22px;

      .item-list{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;

        &::marker{
          font-size: 14px;
          color: #F9D023;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    &:last-child{
      margin-right: 0;
    }
  }

}